html {
  position: relative;
  min-height: 100%;
}
body {
    margin-bottom: 60px;
    font-weight: 600;
    font-family: 'Lato';
    font-size: 18px;
    color: #333;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{
  font-weight: 600;
}
h3 a:hover,
h3 a:focus
{
  text-decoration: none;
}
p{
  font-size: 17px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #f5f5f5;
  padding: 20px;
}
body > .container {
  padding: 60px 15px 0;
}
.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}
.container {
    /*text-align: center;*/
    /*display: table-cell;*/
    vertical-align: middle;
}
.content {
    /*text-align: center;*/
    /*display: inline-block;*/
}

.footer p{
  font-size: 14px;
}
.right-nav li:not(:last-child):after {
  background: #d15a9a;
  width: 1px;
  content: "";
  display:block;
  position: absolute;
  top: 16px;
  bottom: 0;
  right: 0;
  height: 20px;
}
.action{
  text-align:center;
}
.action a{
  padding: 0 4px;
}
.header{
  display:block;
  margin-top: 30px;
}
.header-title{
  display:inline;
  font-size:20px;
}
.header-actions{
  display:inline;
}
.header hr{
  margin-bottom: 40px;
}
.header a{
  text-decoration: none;
}

/*magnific popup custom css*/
.white-popup {
  position: relative;
  background: #FFF;
  padding: 20px;
  width: auto;
  max-width: 500px;
  margin: 20px auto;
}
.wide-popup{
  max-width: 80%;
}
.wide-popup textarea{
  height: 320px;
}

.action .glyphicon{
  color: #715B5B;
}

/*custom*/
.navbar-default{
  background-color: #FFF;
}
.navbar-default .navbar-nav>li>a{
  font-size: 18px;
}
.navbar-default .navbar-brand{
  font-size: 28px;
  margin: 0 15px;
}
.btn{
  font-weight: 600;
}
textarea{
  resize: vertical;
}
.jumbotron{
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #FFF;
  border: 1px solid #333;
}
.jumbotron a{
  color: #8A98A5;
}
.jumbotron a:hover{
  text-decoration: none;
  text-transform: uppercase;
}
.container .jumbotron,
.container-fluid .jumbotron{
  text-align: center;
  padding-left: 0;
  padding-right: 0;
}
.glyphicon-lg{
  font-size: 50px;
}
.btn-default.active, .btn-default:active,
.btn-default.focus, .btn-default:focus{
  background-color: #FFF;
}
select {
  font-family: Cursive;
  font-weight: normal;
}
.alert{
  padding-top: 5px;
  padding-bottom: 5px;
}
thead{
  background-color: #616161;
  border-color: #616161;
  color: #FFF;
  font-size: 16px;
  font-weight: 900;
}
table th {
    width: auto !important;
}
